
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #D3C0A9, #AF9164);
}

  
  header {
    background-color: #F7F3E3;
    
  }
  
  main {
    padding: 20px 0;
  }
  
  footer {
    background: linear-gradient(to right, #9F333C, #6F1A07);
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  
  form {
    border-radius: 2%;
    background: linear-gradient(to bottom, #E5E7E9, #B3B6B7);
    padding: 20px; 
}


.container{
  
    border-radius: 2%;
    background-color: #F7F3E3;
}



footer .list-inline-item a {
    color: #e7ebee; 
}

.logo{
    width: 100px; 
  height: auto;
}

#headerContainer {
  position: relative; 
}

@media (min-width: 700px) {
  .imgBanner{
    height: 200px;
  }
}


#headerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}





/* barra de navegacion */
.navbar {
  position: absolute;
  top: 0; 
  width: 100%;   
}
nav ul {
  float: left;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  margin: 7px 5px;
}

nav ul li a{
  font-size: 18px;
  padding: 5 10px;
  text-transform: uppercase;
  color: #ed870b;
  border-radius: 3px;
  
}

li a.active, li a:hover{
  background-color: #d4ccacee;
  transition: 0.5s;
  padding: 0 3px;
}

.checkbtn{
  font-size: 25px;
  color: black;
  float: right;
  margin-right: 35px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}



.navbar nav ul.active {
  display: flex; 
  flex-direction: column; 
}

.menu-toggle{
  display: none;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff; 
  margin-bottom: 5px; 
}

@media (max-width: 768px) {
    .checkbtn{
      display: block;
    }
    ul {
      position: fixed;
      width: 80%;
      height: 100vh;
      background: #AF9164;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a{
      font-size: 20px;
    }

    li a:hover, li a.active{
      background: none;
      color: red;
    }

    #check:checked ~ ul{
      left: 0;
    }
  
}

/* formulario */

.container {
  width: 50%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.formulario {
  text-align: center;
  color: #ed870b;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


/* tarjetas de los productos */

.product-card{
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.add-to-cart :hover {
  background-color: #0056b3;
}

.cardProduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  margin: 10px;
}

.redes{
  text-align: right;
  display: ruby-text;
  list-style-type: none;
  padding: 0px 10px;
}

.menu{
  text-decoration: none;
  color: black;
  font-size: x-large;
}



