body{
    background-color: antiquewhite;
    color: white
}

header{
    background-color: green;
    padding: 20px;
    margin-bottom: 20px;
}

main{
    background: white;
    color: black;
    padding: 20px 0;
}

aside{
    background:gray;
    padding: 60px 0;
    color: blue;
}

.widgets{
 background: white;
 color: gray;
 margin-bottom: 20px;   
}

.widgets > div{
    background: blue;
    color: white;
    padding: 20px;
}