* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* loader aca usamos una imagen creada con css y despues un poco de javascript para luego cambiar la clase a hidden y por ultimo removerla */

@keyframes wave {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffefdb;
  transition: opacity 0.75s, visibility 0.75s;
}

.cup {
  position: relative;
  width: 220px;
  height: 180px;
  border: 8px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url(./imagenes/coffee.png);
  background-repeat: repeat-x;
  background-position: 0 130px;
  animation: filling 4s infinite;
}

@keyframes filling {
  0%,
  100% {
    background-position: 0 130px;
  }
  50% {
    background-position: 600px -70px;
  }
}

.cup .cup-handle {
  position: absolute;
  top: 10px;
  right: -75px;
  width: 65px;
  height: 65px;
  border: 8px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3c0a9, #af9164);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #f7f3e3;
}

/* footer */



form {
  border-radius: 2%;
  background: linear-gradient(to bottom, #e5e7e9, #b3b6b7);
  padding: 20px;
}

.container {
  border-radius: 2%;
  background-color: #f7f3e3;
}

footer {
  background: linear-gradient(to right, #9f333c, #6f1a07);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  display: none;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-text {
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px; /* Espacio entre los iconos */
}

.footer-social li {
  margin: 0 10px;
}

.footer-social a {
  color: #e7ebee; /* Color de los iconos */
  font-size: 24px;
  text-decoration: none;
}

.footer-social i {
  display: inline-block;
  font-size: 24px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-social {
    justify-content: flex-end;
  }
}

#headerContainer {
  position: relative;
}

#headerImg {
  width: 100%;
  height: 245px;
  object-fit: cover;
}

@media (max-width: 750px) {
  #headerImg {
    height: auto;
  }
}

/* barra de navegacion */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
nav ul {
  float: left;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 7px 5px;
}

nav ul li a {
  font-size: 18px;
  padding: 5 10px;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px;
}

/* barrra de navegacion responsive */

li a.active,
li a:hover {
  background-color: #d4ccacee;
  transition: 0.5s;
  padding: 0 3px;
}

.checkbtn {
  font-size: 25px;
  color: black;
  float: right;
  margin-right: 35px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.navbar nav ul.active {
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: linear-gradient(to right, #af9164, rgba(211, 192, 169, 0.7));
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: red;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* formulario */

.container {
  width: 50%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.formulario {
  text-align: center;
  color: #ed870b;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* tarjetas de los productos */

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* En pantallas pequeñas, cada tarjeta ocupa toda la columna */
  }
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* validaciones de formulario */

.error {
  color: red;
  display: none;
}

.nosotros {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.nosotros img {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 728px) {
  .nosotros {
    flex-direction: column;
    justify-content: center;
  }
}

.nosotros .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nosotros-right {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.nosotros-right img {
  margin: 5px;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nosotros-right .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 728px) {
  .nosotros-right {
    flex-direction: column;
    align-items: center;
  }
}

.inicio-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inicio-container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio-container img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 728px) {
  .inicio-container {
    flex-direction: column-reverse;
  }
}
